html,body{
    margin: 0;
    padding: 0;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 100%;
    position: fixed;
    flex: 0 0 40px;
    border-right: 2px solid black;
}
.sidebar img{
    padding: 18px;
    transition: all 1s;
}
.sidebar img:hover{
transition: all 1s;
transform: scale(1.2);
}
header{
    padding-top: 50px;
    padding-bottom: 75px;
}
header a{
font-family: 'Kelly Slab', cursive;
color: black;
}
header a:hover{
    text-decoration: none;
    cursor: pointer;
}
header h1{
font-family: 'Fredoka One', cursive;
font-weight: 500;
font-size: 60px;
}
header i:hover, section i:hover{
    color: white;
    transition: all 1s !important;
}
header i, section i{
    transition: all 1.5s;
}
hr{
    background-color: grey;
    margin: 0 auto;
    width: 30%;
    padding: 1px;
}
section{
    margin-top: 50px;
    margin-bottom: 50px;
}

.ipod{
    margin-bottom: 0;
    padding-bottom: 50px;
}
section h2{
    font-family: 'Fredoka One', cursive;
}
section p{
    font-family: 'Kelly Slab', cursive;
    line-height: 25px;
    font-size: 18px;
}
section img{
    transition: all 1s;
}
section img:hover{
    transition-duration: 1s;
    transform: rotate(10deg) scale(1.2);
}
.details{
    visibility: hidden;
}
footer{
    padding-top: 20px;
    border-top: 1px solid black;
}
footer ul{
    list-style: none;
}
footer li{
    display: inline;
}
footer i{
    color: black;
    margin-left: 10px;
    transition: all 1s;
}
footer i:hover{
    transform: scale(1.3);
    transition: all 1s;
}
footer p{
font-family: 'Kelly Slab', cursive;
font-size: 18px;
}
/*=============Fleatherlight=======*/
.lightbox,.flc1{
    display: none;
}
#fl1 img, #fl2 img, #fl3 img, #fl4 img, #fl5 img, #fl6 img{
    max-height: 500px;
}
@media screen and (max-width :768px) {
    .sidebar{
        display: none;
    }
    .details{
        visibility: visible;
        text-decoration: none;
        font-family: 'Kelly Slab', cursive;
        font-weight: 600;
        font-size: 18px;
        transition: all 1s;
    }
    .details:hover{
        color: red;
        text-decoration: none;
        transition: all 1s;
    }
}
